@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --background: #f5f5f5;
    --toolbar: rgba(97, 102, 227, 0.5);
    --white: #fff;
    --text-color: #4D4D4D;
    --input-back: #f3f3f3;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s;
    scroll-behavior: smooth;
    color: var(--text-color);
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    padding: 10px;
}

.toolbar-buttons a {
    padding: 2rem;
}

.toolbar-buttons a:hover {
    background: var(--toolbar);
    color: var(--white);
}

.logo {
    width: 200px;
    height: 50px;
    margin-left: 100px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo p {
    font-size: 4rem;
    font-weight: bold;
}

.toolbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-right: 100px;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    background: rgb(17,14,70);
    background: linear-gradient(90deg, rgba(17,14,70,1) 0%, rgba(102,102,208,1) 28%, rgba(255,255,255,1) 100%);
}

.name-box {
    display: flex;
    flex-direction: column;
    color: wheat;
}

.name-box h1 {
    font-size: 7rem;
    text-align: center;
}

.name-box p {
    text-align: center;
    font-size: 4rem;
}

.exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.exp h1 {
    font-size: 5rem;
    margin: 5rem;
}

.exp p {
    font-size: 1.4rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 3rem rgba(0,0,0,.2);
    max-width: 1000px;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skills h1 {
    text-align: center;
    font-size: 5rem;
    margin: 5rem auto;
}

.skills-box {
    display: flex;
    font-size: 2rem;
    margin-bottom: 4rem;
    justify-content: center;
    gap: 1rem;
}

.skills-box p {
    text-align: center;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
    padding: 3rem;
}

#portfolio_header {
    text-align: center;
    font-size: 5rem;
    margin: 5rem auto;
}
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.portfolio-box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.portfolio-box h2 {
    font-size: 2.5rem;
}

.portfolio-box p {
    font-size: 1.5rem;
}

.port-image {
    background: rgb(17,14,70);
    background: radial-gradient(circle, rgba(17,14,70,1) 0%, rgba(102,102,208,1) 28%, rgba(255,255,255,1) 100%);
    width: 500px;
    height: 200px;
}

.contacts h2 {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
}

.contacts form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.contacts table {
    border-spacing: 2rem;
}

.contacts table .label {
    text-align: right;
}

.contacts table .label-textarea {
    vertical-align: top;
}

textarea {
    resize: none;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background: var(--input-back);
}

textarea:focus {
    border: solid 1px var(--toolbar);
}

.contacts table input {
    font-size: 2rem;
    padding: 1rem;
    width: 100%;
    border: none;
    background: var(--input-back);
    border-radius: 10px;
}

.contacts table input:focus {
    border: solid 1px var(--toolbar);
}

.contacts table .field, .contacts table textarea {
    width: 600px;
}

.form-buttons {
    display: flex;
    gap: 2rem;
}

.form-buttons input {
    padding: 1.5rem 2.5rem;
    border: none;
}

.form-buttons [type="reset"] {
    font-size: 1.5rem;
    font-weight: bold;
    border: solid 1px var(--toolbar);
}

.form-buttons [type="reset"]:hover {
    color: var(--white);
    border: none;

}

.form-buttons [type="submit"] {
    background: var(--toolbar);
    font-size: 1.5rem;
    font-weight: bolder;
}

.form-buttons [type="submit"]:hover {
    background: #0b15c5;
    color: var(--white);
}

.section {
    margin-bottom: 5rem;
}

.footer {
    display: flex;
    justify-content: space-around;
    background: var(--toolbar);
    padding: 2rem;
    margin-top: 2rem;
    font-size: 2rem;
}
